pkgname = zoxide
pkgver = 0.8.0
pkgdesc = A fast cd command that learns your habits
source = https://github.com/ajeetdsouza/zoxide/releases/download/v0.8.0/zoxide-v0.8.0-x86_64-unknown-linux-musl.tar.gz
